

/* Contenedor del modal centrado */

/* Evitar que el body tenga margen o padding que afecte la posición del modal */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para evitar el scroll si el modal se muestra */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Estilo existente, sin modificaciones */
.singup {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    width: 650px;
    padding: 20px;
    padding-bottom: 4em;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
}

.card-eliminar {
    display: flex;
    justify-content: center;
    min-height: 300px;
    width: 400px;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
    flex-direction: column;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    width: 100%;
}

.inputBox,
.inputBox1 {
    position: relative;
    width: 100%;
}

.full-width {
    grid-column: span 2;
}

.inputBox input,
.inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 10px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

/* Ajustes específicos para el textarea */
.inputBox1 textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
    resize: none; /* Desactiva el redimensionamiento */
    height: 100px; /* Fija una altura para el textarea */
}

.inputBox1 textarea:valid~span,
.inputBox1 textarea:focus~span {
    transform: translateX(10px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox1 textarea:valid,
.inputBox1 textarea:focus {
    border: 2px solid #000;
    border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
    transform: translateX(10px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
    border: 2px solid #000;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.enter {
    height: 45px;
    margin-top: 4em;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Estilo específico para la lista de productos */
#listar-productos .card, #editar-producto .card {
    width: 100%;
    max-width: 800px;
}

#table-container {
    display: flex;
    justify-content: center; /* Centrará horizontalmente el contenido del contenedor */
    margin-top: 20px;
}

#productos-table {
    width: 80%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: "Courier New", Courier, monospace;
}


#productos-table th, #productos-table td {
    
    padding: 8px;
    border-radius: 12px;
}

#productos-table th {
    color: white;
    background: #2c2c2c;
    text-align: center;
}

#productos-table tr {
    background-color: #CBCBCB;
}

#productos-table tr:nth-child(even) {
    background-color: white;
}

#productos-table tr:hover {
    border-bottom: 2px #2c2c2c;
}

#productos-table td {
    text-align: center;
}

button {
    height: 20px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

button:hover,
.btn-eliminar:hover,
.btn-cancelar:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


.btn-eliminar,
.btn-cancelar {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 5px;  /* Añade un margen entre los botones */
}

/* Estilos para el botón con la X */

/* Botón circular */


.xBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 77%;
    top: 13.1em;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #ffffff00;
}

  /* Símbolo de X */
  .xSign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .xSign svg {
    width: 12px;
}
  
  .xSign svg path {
    fill: rgb(255, 255, 255);
  }
  
  /* Texto de "Cancelar" */
  .xText {
    letter-spacing: 2px;
    width: 0%;
    opacity: 0;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.3s;
}
  
  /* Efecto hover en el botón */
  .xBtn:hover {
    background-color: rgb(255, 255, 255);
    padding-right: 5px;
    width: 135px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }
  
  .xBtn:hover .xSign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 15px;
  }
  
  .xBtn:hover .xSign svg path {
    fill: rgb(0, 0, 0);
  }
  
  /* Efecto hover en el texto del botón */
  .xBtn:hover .xText {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  
  /* Efecto de clic en el botón */
  .xBtn:active {
    transform: translate(2px, 2px);
  }
  



  /* Símbolo de X2 */

  .xBtn2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: -8.3em;
    left: 22.2em;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: white;
  }
  


  .xSign2 {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .xSign2 svg {
    width: 12px;
}
  
  .xSign2 svg path {
    fill: black;
  }
  
  /* Texto de "Cancelar" */
  .xText2 {
    letter-spacing: 2px;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.3s;
}
  
  /* Efecto hover en el botón */
  .xBtn2:hover {
    background-color: black;
    padding-left: 5px;
    width: 135px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }
  
  .xBtn2:hover .xSign2 {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 15px;
  }
  
  .xBtn2:hover .xSign2 svg path {
    fill: white;
  }
  
  /* Efecto hover en el texto del botón */
  .xBtn2:hover .xText2 {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  
  /* Efecto de clic en el botón */
  .xBtn2:active {
    transform: translate(2px, 2px);
  }



  .h2-container {
    display: flex;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3.5em;
    margin-top: 5em;
    margin-bottom: 5px;
    background-color: #2c2c2c;
    border-radius: 18px;
}

.h2-container h2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
   
}


/* Ocultamos este boton para que no se vea  */
#editar-btn {
    display: none;
}


#listar-btn, 
#crear-btn{
    height: 40px;
    width: 15rem;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}


#listar-btn:hover,
#crear-btn:hover {
    height: 40px;
    width: 15rem;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 2px;
}


#buscar-input {
    position: absolute;
    display: flex;
    top: 17.2em;
    left: 23em;
    height: 1.65rem;
    width: 13rem;
    border-radius: 5px;
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    color: white;
    font-size: 8px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#buscar-input::placeholder {
    color: #ffffff; /* Cambia el color del texto del placeholder */
}