{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="icon" href="{% static 'img/GRUPONUEVEONCE_cp_rgb.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/inventario.css' %}">
    <link rel="stylesheet" href="{% static 'css/token_exp.css' %}">
</head>
<body>
    <div class="container">        
        
        <h1>Gestión de Productos</h1>

        <div class="nav">
            <button id="listar-btn">Listar Productos</button>
            <button id="crear-btn">Crear Producto</button>
            <button id="editar-btn">Editar Producto</button>
        </div>

        <div id="content">
            <!-- Aquí se cargará el contenido dinámicamente -->
            

            <!-- Overlay y el contenedor modal para Crear Producto -->

        <div id="overlay" style="display:none;"></div>

            <div id="listar-productos" class="content-section modal" style="display:none;">

                <!-- Botón de Cancelación en Círculo -->
                <button class="xBtn" id="cancelar-editar">
                    <div class="xSign">
                        <svg viewBox="0 0 320 512">
                            <path d="M310.6 361.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L160 301.3 54.6 406.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L114.7 256 9.4 150.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 210.7 265.4 105.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L205.3 256 310.6 361.4z"/>
                        </svg>
                    </div>
                    <div class="xText">Cancelar</div>
                </button>

                <input type="text" id="buscar-input" placeholder="Buscar por nombre o categoría">

                <div class="h2-container">
                    <h2>Lista de Productos</h2>
                </div>

                <div id="table-container">
                    <table id="productos-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los productos se cargarán aquí -->
                        </tbody>
                    </table>
                </div>
            </div>



            <div id="crear-producto" class="content-section modal" style="display:none;">
                <div class="container">
                    <div class="card">
                        <div class="header">
                            <a class="singup">Crear Producto</a>
                        </div>

                        <!-- Botón de Cancelación en Círculo -->
                        <button class="xBtn2" id="cancelar-editar">
                            <div class="xSign2">
                                <svg viewBox="0 0 320 512">
                                    <path d="M310.6 361.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L160 301.3 54.6 406.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L114.7 256 9.4 150.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 210.7 265.4 105.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L205.3 256 310.6 361.4z"/>
                                </svg>
                            </div>
                            <div class="xText2">Cancelar</div>
                        </button>
            
                        <form id="crear-form">
                            {% csrf_token %}
                            <div class="form-grid">
                                <div class="inputBox1">
                                    <input type="text" name="nombre" required="required">
                                    <span class="user">Nombre</span>
                                </div>
            
                                <div class="inputBox">
                                    <input type="number" name="precio" required="required">
                                    <span>Precio</span>
                                </div>
            
                                <div class="inputBox1">
                                    <input type="text" name="categoria" required="required">
                                    <span class="user">Categoría</span>
                                </div>
            
                                <div class="inputBox">
                                    <input type="number" name="cantidad_disponible" required="required">
                                    <span>Cantidad disponible</span>
                                </div>
            
                                <div class="inputBox1 full-width">
                                    <textarea name="descripcion" required="required"></textarea>
                                    <span class="user">Descripción</span>
                                </div>
                                
                            </div>
            
                            <div class="button-container">
                                <button type="submit" class="enter">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="editar-producto" class="content-section modal" style="display:none;">
                <div class="container">
                    <div class="card">
                        <div class="header">
                            <a class="singup">Editar Producto</a>
                        </div>

                        <!-- Botón de Cancelación en Círculo -->
                        <button class="xBtn2" id="cancelar-editar">
                            <div class="xSign2">
                                <svg viewBox="0 0 320 512">
                                    <path d="M310.6 361.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L160 301.3 54.6 406.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L114.7 256 9.4 150.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 210.7 265.4 105.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L205.3 256 310.6 361.4z"/>
                                </svg>
                            </div>
                            <div class="xText2">Cancelar</div>
                        </button>
            
                        <form id="editar-form">
                            {% csrf_token %}
                            <input type="hidden" name="id">
                            <div class="form-grid">
                                <div class="inputBox1">
                                    <input type="text" name="nombre" required="required">
                                    <span class="user">Nombre</span>
                                </div>
            
                                <div class="inputBox">
                                    <input type="number" name="precio" required="required">
                                    <span>Precio</span>
                                </div>
            
                                <div class="inputBox1">
                                    <input type="text" name="categoria" required="required">
                                    <span class="user">Categoría</span>
                                </div>
            
                                <div class="inputBox">
                                    <input type="number" name="cantidad_disponible" required="required">
                                    <span>Cantidad disponible</span>
                                </div>
            
                                <div class="inputBox1 full-width">
                                    <textarea name="descripcion" required="required"></textarea>
                                    <span class="user">Descripción</span>
                                </div>
                            </div>
            
                            <div class="button-container">
                                <button type="submit" class="enter">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

           <div id="confirmar-eliminacion" class="content-section modal" style="display:none;">
                <div class="container">
                    <div class="card-eliminar">
                        <div class="header">
                            <a class="singup">Eliminar producto</a>
                        </div>
            
                        <form id="eliminar-form">
                            {% csrf_token %}
                            <input type="hidden" name="id">
                            <p>¿Estás seguro de que deseas eliminar este producto?</p>
                            <div class="button-container">
                                <button type="submit" class="btn-eliminar">Eliminar</button>
                                <button type="button" id="cancelar-btn" class="btn-cancelar">Cancelar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>



            <!-- Fin del modal -->
            

        </div>
    </div>

    
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/inventario.js' %}"></script>
    <script src="{% static 'js/filtro_de_busqueda.js' %}"></script>
    
</body>
</html>
