{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de gestión de inventario</title>
    <link rel="icon" href="{% static 'img/GRUPONUEVEONCE_cp_rgb.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-inner">
                <!-- Formulario de inicio de sesión -->
                <div class="card-front">
                    <a class="login">Inicio de sesión</a>
                    <div class="inputBox">
                        <input type="text" required="required">
                        <span class="user">Nombre de usuario</span>
                    </div>

                    <div class="inputBox">
                        <input type="password" required="required">
                        <span>Contraseña</span>
                    </div>

                    <button class="enter">Ingresar</button>
                    <p class="toggle-form">¿No tienes cuenta? <a href="#" id="show-register">Regístrate</a></p>
                </div>

                <!-- Formulario de registro -->
                <div class="card-back">
                    <a class="registro">Registro</a>
                    <div class="inputBox">
                        <input type="text" required="required">
                        <span class="user">Nombre de usuario</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" required="required">
                        <span class="user">Correo electrónico</span>
                    </div>
                    <div class="inputBox">
                        <input type="password" required="required">
                        <span>Contraseña</span>
                    </div>
                    <button class="signup">Registrarse</button>
                    <p class="toggle-form">¿Ya tienes cuenta? <a href="#" id="show-login">Inicia sesión</a></p>
                </div>
            </div>
        </div>
    </div>

    <label class="switch">
        <input type="checkbox" class="toggle" id="dark-mode-toggle">
        <span class="slider"></span>
        <span class="card-side"></span>
    </label>
    
    <script src="{% static 'js/darkmode_button.js' %}"></script>
    <script src="{% static 'js/form_toggle.js' %}"></script>

</body>
</html>
